.grid-container-element { 
    display: grid; 
    grid-template-columns: 30% 70%; 
    grid-gap: 20px; 
    margin: 10px;
    width: 100%; 
} 

.form-group{
    padding: 5px;
}

.content-form-1{

    position: relative;
    background-color: white;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 400px;
}

.errorText{
    color: red;
}

